@charset "UTF-8";
body {
    /*Estructura de parallax*/
    background: url(../imagenes/fondo5.png) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

/*------Barra de navegación-------*/
.navbar {
    color: white;
    background-color: rgba(16, 1, 28, 1);
}
/*------Logo principal-------*/

.logo1 {
    overflow: hidden;
    width: 900px;
    margin-top: 50px;
    z-index: 1;
}
/*Dota de dinamismo al logo disminuyendo su escala cuando el ratón s eposiciona encima de la imagen*/
.logo1 .img-logo1 {
    display: block;
    width: 900px;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: all 1000ms ease-in-out;
    -moz-transition: all 1000ms ease-in-out;
    -ms-transition: all 1000ms ease-in-out;
    -o-transition: all 1000ms ease-in-out;
}
/*Hace que la imagen se haga pequeña*/
.logo1:hover .img-logo1 {
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
}

/*------Sección Juego-------*/
.seccionJuego {
    background: url(../imagenes/mapas.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.presentacion {
    color:white;
    text-align: justify;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    background: rgba(25, 2, 43, 0.91);
    z-index: 1;
    overflow: hidden;
}

.continuar1 {
    color:white;
    text-align: justify;
    margin-top: 50px;
    padding: 5px;
    border-radius: 10px;
    background: rgba(25, 2, 43, 0.91);
    z-index: 1;
    overflow: hidden;/*Oculta la barra de desplazamiento*/
}

.continuar2 {
    color:white;
    text-align: justify;
    margin-top: 50px;
    padding: 5px;
    border-radius: 10px;
    background: rgba(25, 2, 43, 0.91);
    z-index: 1;
    overflow: hidden;
}

/*------Sección héroes-------*/
.seccionHeroes{
    background: url(../imagenes/heroes.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

#texto-carusel {
    margin-bottom: 30px;
}
/*Le da un fondo estilo parallax personalizada a cada heroes del carusel*/
.carousel .genji {
    background: url(../imagenes/genji.jpg) no-repeat fixed;
    margin-top: 0px;
    background-position: center;
}

.carousel .mccree {
    background: url(../imagenes/mccree.jpg) no-repeat fixed;
    margin-top: 0px;
    background-position: top;
}

.carousel .reaper {
    background: url(../imagenes/reaper.jpg) no-repeat fixed;
    margin-top: 0px;
    background-position: center;
}

.carousel .widowmaker {
    background: url(../imagenes/widowmaker.jpg) no-repeat fixed;
    margin-top: 0px;
    background-position: right top;
}

.carousel.inner-item {
    text-align: center;
    img {
        margin: 0 auto;
    }
}

.carousel .item {
	width: 100%;
	max-height: 920px;
}
/*define el tamaño de las imagenes*/
.carousel .item img {
	width: 1000px;
	height: 850px;
	margin: 0 auto;
}
/*es el estilo de las flechas de movimiento*/
.carousel-caption {
	  background-color: black;
      max-width: 450px;
      padding: 0 20px;
      margin:0 auto;
      margin-top: 200px;
      text-align:center;
}

.carousel-caption h4{
	top: 0;
    bottom: auto;
}
/*------Sección Mapas-------*/
/*------Mapa 1-------*/
.mapa10{
    background: url(../imagenes/mapa1.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
/*son los estilos de los video embebidos*/
iframe {
    color:white;
    padding: 5px;
    border-radius: 0px;
    background: rgba(25, 2, 43, 0.91);
    z-index:1;
    overflow: hidden;
    margin-top: 150px;
}

.mapa1 {
    color:white;
    text-align: justify;
    padding: 5px;
    border-radius: 10px;
    background: rgba(25, 2, 43, 0.91);
    z-index:1;
    overflow: hidden;
}

/*------Mapa 2-------*/
.mapa20{
    background: url(../imagenes/mapa2.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.fotomapa2 {
    overflow: hidden;
    width: 1000px;
    height: 1000px;
    z-index: 1;
}

.fotomapa2 .img-fotomapa2 {
    display: block;
    width: 800px;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 1000ms ease-in-out;
    -moz-transition: all 1000ms ease-in-out;
    -ms-transition: all 1000ms ease-in-out;
    -o-transition: all 1000ms ease-in-out;
}

.fotomapa2:hover .img-fotomapa2 {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.mapa2 {
    color:white;
    text-align: justify;
    padding: 5px;
    border-radius: 10px;
    background: rgba(25, 2, 43, 0.91);
    z-index:1;
    overflow: hidden;
}

/*------Mapa 3-------*/
.mapa30{
    background: url(../imagenes/mapa3.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.mapa3 {
    color:white;
    text-align: justify;
    padding: 5px;
    border-radius: 10px;
    background: rgba(25, 2, 43, 0.91);
    z-index:1;
    overflow: hidden;
}

/*------Mapa 4-------*/
.mapa40{
    background: url(../imagenes/mapa4.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.mapa4 {
    color:white;
    text-align: justify;
    padding: 5px;
    border-radius: 10px;
    background: rgba(25, 2, 43, 0.91);
    z-index:1;
    overflow: hidden;
}

.seccionContacto {
  background: url(../imagenes/fondocontacto.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.formulario {
  color:white;
  background: rgba(25, 2, 43, 0.79);

}

footer {
    background-color: rgba(16, 1, 28, 1);
    color: white;
}

blockquote{
    border-left:none
}

.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);
}

.quote-box{
    overflow: hidden;
    border-radius: 20px;
    background-color: rgba(25, 2, 43, 0.91);
    color:white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.91);

}
/*aumenta el tamaño de " y cambia la fuente*/
.quotation-mark{
    margin-top: -10px;
    font-weight: bold;
    font-size: 100px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;

}

.quote-text{

    font-size: 19px;
    margin-top: -65px;
}

.seccionFrase {
    background: url(../imagenes/tracerfrase.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
