body {
    background: url(../img/wallpaper.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #fff;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 18px;
}

.light {
    font-weight: 800;
}

/*Poner botones verdes*/
.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

.btn-danger {
    border: 1px solid #dc4242;
    color: #dc4242;
    background-color: transparent;
}

.btn-danger:hover,
.btn-danger:focus {
    border: 1px solid #dc4242;
    outline: 0;
    color: #000;
    background-color: #dc4242;
}

.btn-warning {
    border: 1px solid #dcc042;
    color: #dcc042;
    background-color: transparent;
}

.btn-warning:hover,
.btn-warning:focus {
    border: 1px solid #dcc042;
    outline: 0;
    color: #000;
    background-color: #dcc042;
}